BACKUP_CRON_EXPRESSION={{ backup_cron_expression | default('"0 20 * * *"') }}
BACKUP_FILENAME="{{ actual_budget_backup_filename | default('actual-budget-backup') }}-%Y-%m-%dT%H-%M-%S.{{ '{{' }} .Extension {{ '}}' }}"

SSH_HOST_NAME={{ backup_ssh_host }}
SSH_PORT={{ backup_ssh_port | default(22) }}
SSH_USER={{ backup_ssh_user }}
SSH_REMOTE_PATH={{ backup_ssh_remote_path }}
SSH_PASSWORD={{ vault_backup_ssh_password }}

NOTIFICATION_URLS={{ vault_notification_url }}
NOTIFICATION_LEVEL={{ backup_notification_level | default('info') }}
