name: Update server configurations (Ansible Playbooks)

on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for the tailscale action to request a JWT from GitHub

# prevent multiple versions of the same job from running simultaneously
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Setup just
        uses: extractions/setup-just@v3
        with:
          just-version: 1.5.0

      - name: Setup python, install python dependencies, and install ansible-galaxy dependencies
        run: just setup

      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Ansible run playbook
        run: just play
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
